{
"do_lower_case": true,
"vocab_file":"./model/vocab.txt",
"model_file":"./model/bertwwwext_60000",
"max_seq_length": 128,
"fetch_tweet_limit":100,
"min_text_require":30,
"min_text_len_require":15,
"enable_remote_workers":false,
"remote_timeout":300,
"port":6002,
"host":"127.0.0.1"
}
